Continuation of C104

In [1]:
import pandas as pd
from google.colab import files
from collections import Counter

In [2]:
df = pd.read_csv("https://raw.githubusercontent.com/YX0013/Project-104-Data/main/C104-HeightWeight.csv")
df.head()

   Index  Height(Inches)  Weight(Pounds)
0      1        65.78331        112.9925
1      2        71.51521        136.4873
2      3        69.39874        153.0269
3      4        68.21660        142.3354
4      5        67.78781        144.2971

Weight (18-year-olds)

Mean

In [16]:
weight = df['Weight(Pounds)']
total = len(weight)
sum = 0

for i in weight:
  sum = sum + i
mean = sum/total
print(f"The mean is {mean:2f}.")

The mean is 127.079421.

Median

In [15]:
weight = df['Weight(Pounds)']
weight = weight.tolist()
weight.sort()

if total % 2 == 0:
  median1 = float(weight[total//2])
  median2 = float(weight[total//2 - 1]) 
  median = (median1 + median2)/2
else:
  median = float(weight[total//2])
print(f"The median is {median:2f}.")

The median is 127.157750.

Mode

In [14]:
weight = df['Weight(Pounds)']
data = Counter(weight)

mode_data_for_range = { "75-85": 0, "85-95": 0, "95-105": 0, "105-115": 0, "115-125": 0, "125-135": 0, "135-145": 0, "145-155": 0, "155-165": 0, "165-175": 0 }
for weight, occurence in data.items(): 
  if 75 < float(weight) < 85: 
    mode_data_for_range["75-85"] += occurence 
  elif 85 < float(weight) < 95: 
    mode_data_for_range["85-95"] += occurence 
  elif 95 < float(weight) < 105: 
    mode_data_for_range["95-105"] += occurence
  elif 105 < float(weight) < 115: 
    mode_data_for_range["105-115"] += occurence
  elif 115 < float(weight) < 125: 
    mode_data_for_range["115-125"] += occurence
  elif 125 < float(weight) < 135: 
    mode_data_for_range["125-135"] += occurence
  elif 135 < float(weight) < 145: 
    mode_data_for_range["135-145"] += occurence
  elif 145 < float(weight) < 155: 
    mode_data_for_range["145-155"] += occurence
  elif 155 < float(weight) < 165: 
    mode_data_for_range["155-165"] += occurence
  elif 165 < float(weight) < 175: 
    mode_data_for_range["165-175"] += occurence

mode_range, mode_occurence = 0, 0 
for range, occurence in mode_data_for_range.items(): 
  if occurence > mode_occurence: 
    mode_range, mode_occurence = [int(range.split("-")[0]), int(range.split("-")[1])], occurence 
mode = float((mode_range[0] + mode_range[1]) / 2) 
print(f"The mode is {mode:2f}.")

The mode is 130.000000.